@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);

body {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 100;
    text-decoration: none;
    font-size: 16px;
    line-height: 2.35;
    font-weight: 200;
}

img {
    width: 100%;
}

.masonry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    width: 100%;
    margin: auto;
    padding-top: 25px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    flex-grow: 1;
}

.box {
    font-size: 12px;
    cursor: pointer;
    color: white;
    background: white;
    display: inline-block;
    margin: 6px;
    margin-top: 2px;
    border: 1px solid #ddd;
    padding: 6px;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.box-favorite {
    color: #ECD6BE;
    background: #ECD6BE;
}

.box:hover {
    color: black;
}

.box-title {
    color: black !important;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 44px;
    background-color: #2A2A2B;
    color: #fff;
}

.app {
    margin-top: 20px;
}

.list {
    list-style: none;
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
    cursor: default;
    margin: 0 -10px;
    width: auto;
    height: 44px;
    text-align: justify;
    display: block;
    list-style-type: disc;
}

.item {
    display: inline-block;
    position: relative;
    height: 44px;
    z-index: 1;
    vertical-align: top;
    color: #fff;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
}

.favorite {
    margin-left: 10%;
    font-size: 1.5em;
}